
.container {
	padding: .5rem;
	height: calc(100vh - 5rem);
	overflow-y: scroll;
	// 15px is standard width of the scrollbar
	width: calc(calc(40% - 1rem) - 15px);
}

.file {
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-right: .5rem;
	padding-left: .5rem;


	&:hover {
		background-color: #ddd;

		.edit_icon {
			float: right;
			display: inline-block;
		}
	}

	.edit_icon {

		display: none;
	}

}

.file > * {
	display: inline-block;
	vertical-align: middle;
	margin-right: .5rem;
}

.folder {}

.folder_title {

	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-right: .5rem;
	padding-left: .5rem;

	&:hover {
		background-color: #bbb;
		cursor: pointer;
	}
}

.folder_title > * {
	display: inline-block;
	vertical-align: middle;
}

.folder_title > span {

	width: 0;
	height: 0;

	border-top: 4px solid #333;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;

	&.collapsed {
		
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 4px solid #333;
	
	}

	margin-right: .5rem;

}


.folder_title > p {

	margin-top: 0;
	margin-bottom: 0;

}
